<div class="badge">
  <slot />
</div>

<style>
  .badge {
    display: inline-block;
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
    font-size: 0.75em;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--color-bg-secondary);
    color: var(--color-primary-dark);
  }
</style>
