<div class="badge-skill">
  <slot />
</div>

<style>
  div.badge-skill {
    display: inline-flex;
    padding: 0.25em 0.5em;
    gap: 0.25em;
    align-items: flex-end;
    border-radius: 0.5em;
    font-size: 0.75em;
    font-weight: 700;
    /* text-transform: uppercase; */
    background-color: var(--color-primary-dark-05);
    color: var(--color-primary-dark);
  }
</style>
